<div id="<%= component_css_class %>">
  <header class="w-full flex flex-col justify-center">
    <div class="flex justify-center">
      <h1 class="pt-8 text-2xl text-green-600 select-none">
        Plant Directory
      </h1>
    </div>

    <%= render(Plants::SearchComponent.new) %>
  </header>

  <main class="container pb-12 flex justify-self-center justify-center">
    <%= render(Plants::IndexComponent.new(plants:)) %>
  </main>
</div>
