<div id="<%= component_css_class %>" class="pt-12 grid grid-cols-[1fr_1fr_1fr] gap-8">
  <% plants.each do |plant| %>
    <%= link_to(plant_path(plant)) do %>
      <%= render(Plants::PreviewComponent.new(plant:)) %>
    <% end %>
  <% end %>
</div>
